<div class="book">
  <!-- <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span>
  <span class="page turn"></span> -->
  <span class="cover"></span>
  <span class="page"></span>
  <span class="cover turn"></span>
</div>
